{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div>
            <select name="symbol" class="form-select">
                <option selected disabled>Choose</option>
                {% for s in symbol %}
                <option value = "{{ s.symbol }}">{{ s["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <p></p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
