body {
    background-color: #fff;
    color: #ff0000;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.0;
    margin: 0;
    text-align: center;
}

.drama
{
    border: 3px dotted blue;
}

#favorite
{
    background-color: yellow;
    opacity: 0.9;
}

.members
{
    font-size: medium;
    color: purple;
}

h2
{
    font-family: times;
    color: blue;
}
